.user-avatar{
	width: 112px;
	height: 112px;
}

.big-quick-fact{
	font-weight: bold;
	text-shadow:  1px 1px 2px #A9B0B7; 
	font-size: 100px;
	text-align: center;

}


.modal-title{
	margin-bottom: 0;
    line-height: 1.5;
    font-weight: 500;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper>img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.advisor-img {
    margin-top:20px;
}

