.user-avatar{
	width: 112px;
	height: 112px;
}

.big-quick-fact{
	font-weight: bold;
	text-shadow:  1px 1px 2px #A9B0B7; 
	font-size: 100px;
	text-align: center;

}


.modal-title{
	margin-bottom: 0;
    line-height: 1.5;
    font-weight: 500;
}

button.close{
	cursor: pointer;
	float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 5;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    -webkit-writing-mode: horizontal-tb;
}

